@page
@model WebApp.Pages.Book.DeleteModel
@{
	ViewData["Title"] = "Delete Book";
}

<h1>Delete Book</h1>
<hr>
<div class="row">
	<div class="col-4">
		<h3 class="text-danger">You're about to delete "<strong>@Html.DisplayFor(e=>e.Books.BookTitle)</strong>"</h3>
		<span class="mb-3">Are you sure? This action cannot be undone.</span>
	</div>
</div>

<div class="mt-2 row">
	<form method="post">
		<div class="col-4">
			<input type="hidden" asp-for="Books.BookId" />

			<a class="btn btn-primary" asp-page="./Index">No, go back</a>
			
			<input type="submit" name="name" value="Yes, delete it" class="btn btn-danger"/>
		</div>
	</form>
</div>